.container {
    position:relative;
}

.hamburger {
    width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
    height: 3px;
    width: 100%;
    background: black;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .open:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .open:nth-child(2) {
    opacity: 0;
  }
  
  .open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
  }
  
  .menu a {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
  }